{% extends "layout.html" %}
{% set active_page = "About" %}

{% block content %}
  <h2>About</h2>
  <p>NOTE: This is development software. Be warned it will have many bugs and may cause bad things to happen.</p>
  <p>This project aims to deliver a secure and resilient platform for messaging and person to person trading. For further details check http://github.com/six-pack/.
  <P>Please help fund the project if you can, it will speed up development and pays for stable brokers. </p>
  <p>Project Wallet: 15LvkwykwNEnQzQj353tijnhHqPLQpDvPb</p>
{% endblock %}