{%if looking_glass %}
    {% extends "looking_glass/layout.html" %}
{%else%}
    {% extends "layout.html" %}
{%endif%}
{% set active_page = "About" %}

{% block content %}
  <h2>About</h2>
  <table align="center"><tr><td><img src="/static/img/charlie.gif" LOOP=1></td></tr></table>
  <div class="round_box">
  <p><b>NOTE: This is development software. Be warned it will have many bugs and may cause bad things to happen.</b></p>
  <p>This project aims to deliver a secure and resilient platform for messaging and person to person trading. For further details check the <a href="https://six-pack.github.io/Axis-Mundi">overview on Github</a>
  <P>Please help fund the project if you can, it will speed up development and pays for stable brokers. </p>
  <p>Project Wallet: 15LvkwykwNEnQzQj353tijnhHqPLQpDvPb</p>
  <p></p>
  <p>If you have any questions then contact <a href="/profile/1EA8616BC6C74E8A">Six Pack</a> using the built in private messenger</p>
  </div>
 <br><br>
{% endblock %}