{% extends "layout.html" %}
{% set active_page = "Trade" %}

{% block content %}
  <h2>Shopping Cart</h2>
  {% if shopping_cart %}
    <div class="datagrid">

        {% for user in shopping_cart %}
        <div class="round_box">
        <table cellpadding="5">
        <form method="post" action="{{ url_for('cart') }}">
            <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
            <tr><td colspan="3"><p style="font-size:20px"><b>Seller: {{user}}</b></p></td><td colspan="2">
                <button type="submit" style="float:right" class = "btn" name ="action" value="remove">Remove</button>
                <button type="submit" style="float:right" class = "btn" name ="action" value="update">Update</button>
                <label class="btn" for="modal-one" style="float:right">Checkout</label>
                </td></tr>
            <tr>
            <th width="100px" align="left"><strong></strong></th>
            <th width="300px" align="left"><strong>Item</strong></th>
            <th width="50px"><strong>Qty</strong></th>
            <th width="250px"><strong>Shipping</strong></th>
            <th width="150px"><strong>Price</strong></th>
            </tr>

            {% for item in shopping_cart[user]%}
                {% set item_dict = shopping_cart[user][item] %}
                {% set shipping_options = item_dict.item['shipping_options'] %}
                <tr>
                <td><img width="64" height="64" alt="{{item_dict.item['item']}}" src={% if item_dict.item['image'] %}"data:image/png;base64,{{item_dict.item['image']}}"{% else %}"/static/img/none.png"{% endif %} /></td>
                <td>{{ item_dict.item['item'] }}</td>
                <td><input type="text" name="quantity" size="2" class="inputs" placeholder="Qty" required value="{{ item_dict['quantity'] }}"></td>
                <td><div class = "select_style"><select name="shipping" style="width: 250px">
                {% for shipping_option in shipping_options %}
                {%   set shipping_option_dict = shipping_options[shipping_option] %}
                    <option value="{{ shipping_option }} ">{{ shipping_option_dict[0] }}&nbsp;({{ shipping_option_dict[1] }} {{item_dict.item['currency']}}) </option>
            {% endfor %}
            </select></div></td><td style="text-align: center">{{ item_dict.item['unit_price'] }} {{ item_dict.item['currency'] }}</td></tr>
            <input name="pgpkey_id" type=hidden value="{{ user }}">
            <input name="listing_id" type=hidden value="{{ item_dict.item['id'] }}">
        {%endfor%}
        </table>
        </div>
        <br>
    {% endfor %}


    </div>
  {% else %}
        <h3><center>Your shopping cart is empty</center></h3>
  {% endif %}

<!-- Modal One -->
<div class="modal">
  <input class="modal-open" id="modal-one" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-one">></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Select type of transaction</h2>
        <label class="btn-close" for="modal-one" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
        <div class="datagrid">
        <div class="round_box" style="width:95%">
            <table cellpadding="5">
                <tr>
                    <td width = "160px"><div><input type="radio" class="radio" name="transaction_type" id="direct" value="direct" checked><label for="direct" style="width: 150px; border-radius: 3px; border: 1px solid #D1D3D4;"><b>Direct</b></label></div></td>
                    <td>Seller receives payment immediately
                        <br>
                        No feedback possible
                        <br>
                        Maximum privacy
                        <br>
                        No additional cost
                    </td>
                </tr>
            </table>
        </div>
        <div class="round_box" style="width:95%">
            <table cellpadding="5">
                <tr>
                    <td width = "160px"><div><input type="radio" class="radio" name="transaction_type" id="notarized" value="notarized" disabled><label for="notarized" style="width: 150px; border-radius: 3px; border: 1px solid #D1D3D4;"><b>Notarized</b></label></div></td>
                    <td>Seller receives payment immediately
                        <br>
                        Buyer and seller can both leave feedback
                        <br>
                        Notary aware of order
                        <br>
                        Costs of around 1%
                    </td>
                </tr>
            </table>
        </div>
        <div class="round_box" style="width:95%">
            <table cellpadding="5">
                <tr>
                    <td width = "160px"><div><input type="radio" class="radio" name="transaction_type" id="escrow" value="escrow" disabled><label for="escrow" style="width: 150px; border-radius: 3px; border: 1px solid #D1D3D4;"><b>Escrow</b></label></div></td>
                    <td>Seller receives payment after order is finalized
                        <br>
                        Buyer and seller can both leave feedback
                        <br>
                        Notary aware of order and bitcoin addresses
                        <br>
                        Arbiters can be used in the event of dispute
                        <br>
                        Costs of around 1% to 2%
                    </td>
                </tr>
            </table>
        </div>
      </div>
      <div class="modal-footer" style="vertical-align:middle">

        <label  style="float:right" class="btn" for="modal-one">Cancel</label>
            <button type="submit" style="float:right" class = "btn" name ="action" value="checkout">Continue Order</button>
          <br>
      </div>
      </div>
    </div>
  </div>
</div>
</form>


{% endblock %}