{% extends "layout.html" %}
{% set active_page = "Trade" %}

{% block content %}
  <h2>Shopping Cart</h2>
  {% if shopping_cart %}
    <div class="datagrid">

        {% for user in shopping_cart %}
        <div class="round_box">
        <table cellpadding="5">
        <form method="post" action="{{ url_for('cart',action='update') }}">
            <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
            <tr><td colspan="3"><p style="font-size:20px"><b>Seller: {{user}}</b></p></td><td colspan="2">
                <button type="submit" style="float:right" class = "btn" name ="action" value="delete">Delete</button>
                <button type="submit" style="float:right" class = "btn" name ="action" value="update">Update</button>
                <button type="submit" style="float:right" class = "btn" name ="action" value="checkout">Checkout</button></td></tr>
            <tr>
            <th width="100px" align="left"><strong></strong></th>
            <th width="300px" align="left"><strong>Item</strong></th>
            <th width="50px"><strong>Qty</strong></th>
            <th width="250px"><strong>Shipping</strong></th>
            <th width="150px"><strong>Price</strong></th>
            </tr>

            {% for item in shopping_cart[user]%}
                {% set item_dict = shopping_cart[user][item] %}
                {% set shipping_options = item_dict.item['shipping_options'] %}
                <tr>
                <td><img width="64" height="64" alt="{{item_dict.item['item']}}" src={% if item_dict.item['image'] %}"data:image/png;base64,{{item_dict.item['image']}}"{% else %}"/static/img/none.png"{% endif %} /></td>
                <td>{{ item_dict.item['item'] }}</td>
                <td><input type="text" name="quantity_{{ item_dict.item['id'] }}" size="2" class="inputs" placeholder="Qty" required value="{{ item_dict['quantity'] }}"></td>
                <td><div class = "select_style"><select name="shipping_{{ item_dict.item['id'] }}" style="width: 250px">
                {% for shipping_option in shipping_options %}
                {%   set shipping_option_dict = shipping_options[shipping_option] %}
                    <option value="{{ shipping_option_dict[0] }} ">{{ shipping_option_dict[0] }}&nbsp;({{ shipping_option_dict[1] }} {{item_dict.item['currency']}}) </option>
            {% endfor %}
            </select></div></td><td style="text-align: center">{{ item_dict.item['unit_price'] }} {{ item_dict.item['currency'] }}</td></tr>
        {%endfor%}
        </form>
        </table>
        </div>
        <br>
    {% endfor %}


    </div>
  {% else %}
        <h3><center>Your shopping cart is empty</center></h3>
  {% endif %}

{% endblock %}