{% extends "layout.html" %}
{% set active_page = "Trade" %}

{% block content %}
  <h2>Shopping Cart</h2>
  {% if shopping_cart %}
    <div class="datagrid">

        {% for user in shopping_cart %}
            <table cellpadding="10">
            <h4>Seller: {{user}}</h4>
            <tr>
            <th width="100px" align="left"><strong></strong></th>
            <th width="300px" align="left"><strong>Item</strong></th>
            <th width="50px"><strong>Qty</strong></th>
            <th width="150px"><strong>Shipping</strong></th>
            <th width="150px"><strong>Price</strong></th>
            </tr>

            {% for item in shopping_cart[user]%}
            <tr>
                <td></td>
                {% set item_dict = shopping_cart[user][item] %}
                {% set shipping_options_dict = item_dict['dict_item'] %}
            <td>{{ item_dict['item'] }}</td>
            <td><input type="text" name="quantity" size="2" class="inputs" placeholder="Qty" required value="{{ item_dict['quantity'] }}"></td>
            <td>{{ item_dict['shipping'] }}</td>


            </tr>
            {%endfor%}
        {% endfor %}
    </table>
    </div>
  {% else %}
        <h3><center>Your shopping cart is empty</center></h3>
  {% endif %}

{% endblock %}