{% extends "layout.html" %}
{% set active_page = "Trade" %}

{% block content %}
  <h2>Checkout</h2>
  {% if cart_items %}
    <div class="datagrid">

        <div class="round_box">
        <table cellpadding="5">
        <form method="post" action="{{ url_for('cart') }}">
            <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
            <tr><td colspan="3"><p style="font-size:20px"><b>Seller: {{seller_key|display_name}} ({{seller_key}})</b></p></td><td colspan="2">
                <button type="submit" style="float:right" class = "btnblu" name ="action" value="create_order">Place Order</button>
                <button type="submit" style="float:right" class = "btn" name ="action" value="remove">Cancel Order</button>

                </td></tr>
            <tr>
            <th width="100px" align="left"><strong></strong></th>
            <th width="300px" align="left"><strong>Item</strong></th>
            <th width="50px"><strong>Qty</strong></th>
            <th width="250px"><strong>Shipping</strong></th>
            <th width="200px"><strong>Total Price</strong></th>
            </tr>

            {% for item in cart_items%}
                {% set item_dict = cart_items[item] %}
                {% set shipping_options = item.shipping_options|from_json %}
                <tr>
                <td colspan="2">{{ item.title }}</td>
                <td><label>{{ item.quantity }}</label></td>
                <td>
                {% for shipping_option in shipping_options %}
                {%   set shipping_option_dict = shipping_options[shipping_option] %}
                     {% if item.shipping == shipping_option %}{{ shipping_option_dict[0] }}{%endif%}
                {% endfor %}
                </td><td style="text-align: center">{{ item.line_total_price }} {{ item.currency_code }} ({{item['line_total_price']|to_btc(item.currency_code)}} BTC)</td></tr>
                <input name="pgpkey_id" type=hidden value="{{ seller_key }}">
                <input name="listing_id" type=hidden value="{{ item.item_id }}">
            {% endfor %}
        </table>
        </div>
        <br>

        <table cellpadding="5">
        <tr>
            <td ><label><b>Delivery Address</b></label></td>
            <td ><div id="container">
            <div class="twrap"><textarea class="inputs" name="address" style ="height: auto;" cols="80" rows="8" placeholder="Type the delivery address here EXACTLY how you want it to appear on an address label" required></textarea></div>
        </div></td>
        </tr>
        <tr>
            <td ><label><b>Note to Seller</b></label></td>
            <td ><div id="container">
            <div class="twrap"><textarea class="inputs" name="note" style ="height: auto;" rows="3" placeholder="Type any notes for the seller here."></textarea></div>
        </div></td>
        </tr>
        </table>

        <br>


    </form>
    </div>
  {% else %}
        <h3><center>Your shopping cart is empty</center></h3>
  {% endif %}

{% endblock %}