{% extends "layout.html" %}
{% set active_page = "Contacts" %}

{% block content %}
  <h2>Verified Contacts</h2>

    <div class="datagrid">
    <p>You should only add contacts here if you are fairly sure of their anonymous identity. Any Axis Mundi user added to your contacts list will have a small shield icon before their name whenever it is displayed.</p>
    <a class="btnblu" href="{{ url_for('new_contact') }}">New Contact</a>
    <br>
    <br>
    <table cellpadding="7" width="100%" class="stripetable" cellspacing=0>
        <tr>
        <th width="350px"><strong>Name</strong></th>
        <th width="170px"><strong>PGP Key</strong></th>
        <th ><strong>Actions</strong></th>
        </tr>
        {% for contact in contacts %}
        <tr>
        <td width="350px"><a href="{{ url_for('profile')}}{{contact.contact_key}}"><div class="div_cell_link"> <img src="/static/img/contact.png" width="24" height="24"> <img src="data:image/png;base64,{{contact.contact_key|key_to_identicon}}"> {{contact.contact_name}}</div></a></td>
        <td width="170px"><a href="{{ url_for('profile')}}{{contact.contact_key}}"><div class="div_cell_link">{{contact.contact_key}}</div></a></td>
        <td align="center">
            <div style="position:relative">
                 <a class="cell_link" href="{{ url_for('profile')}}{{contact.contact_key}}"></a>
                 <a class ="in_cell_link" href="{{ url_for('new_message')}}{{contact.contact_key}}">Message</a> -
                 <a class="in_cell_link" href="{{ url_for('external_listings',keyid=contact.contact_key)}}">Listings</a>
                 <a class="cell_link" href="{{ url_for('profile')}}{{contact.contact_key}}"></a>
            </div>
        </td>
        </tr>
        {% endfor %}
        <tr>
        <td align="left">
        {% if contacts.previous_page %}
            <a href="/contacts/{{contacts.previous_page}}"><b>&lt;Previous</b></a>
        {% endif %}
        </td>
        <td colspan="1"></td></td>
        <td align="right">
        {% if contacts.next_page %}
            <a href="/contacts/{{contact.next_page}}"><b>Next&gt;</b></a>
        {% endif %}
        </td>
        </tr>
    </table>
    </div>

<br><br>

{% endblock %}
