{%if looking_glass %}
    {% extends "looking_glass/layout.html" %}
{%else%}
    {% extends "layout.html" %}
{%endif%}
{% set active_page = "Contacts" %}

{% block content %}
  <h2>Directory</h2>

    <div class="datagrid">
        <p>The Axis Mundi directory is maintained automatically by your software. The directory shows all users on the system who have 'opted in'. Please remember that a user can choose any name they wish and could spoof other users names. You should rely on the PGP key ID which cannot be spoofed.</p>
        <p>Trust and reputation scores will be added to the directory in the future.</p>
    <table cellpadding="10" width="100%" class="stripetable">
        <tr>
            <td colspan="3" align="left">
                <div class="round_box" style="height:40px;width: 97%">
                    <form method="post" action="{{ url_for('directory') }}" autocomplete="Off">
                    <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
                    Search Filter
                    &nbsp;&nbsp;&nbsp;<input type="text" name="search_name" size="30" class="inputs" placeholder="User to search for"  value="{{ search_filter }}">
                    &nbsp;<input type="checkbox" name="filter_sellers" value="yes">Only display sellers
                    <button type="submit" class = "btnblu" name = "action" style="float:right" value="update_filter">Update Filter</button>
                </div>

            </td>
        </tr>
        <tr>
        <th width="350px" align="left"><strong>Name</strong></th>
        <th width="170px"><strong>PGP Key ID</strong></th>
        <th ><strong>Flags</strong></th>
        </tr>
        {% for entry in directory %}
        <tr onclick="location.href='{{ url_for('profile')}}{{entry.key_id}}'">
        <td width="350px"><img src="data:image/png;base64,{{entry.key_id|key_to_identicon}}"> {{entry.display_name}}</td>
        <td width="170px">{{entry.key_id}}</td>
        <td align="center">
             (Flags & Ratings etc.)
        </td>
        </tr>
        {% endfor %}
        <tr>
        <td align="left">
        {% if directory.previous_page %}
            <a href="/directory/{{directory.previous_page}}"><b>&lt;Previous</b></a>
        {% endif %}
        </td>
        <td colspan="1"></td>
        <td align="right">
        {% if directory.next_page %}
            <a href="/directory/{{directory.next_page}}"><b>Next&gt;</b></a>
        {% endif %}
        </td>
        </tr>
    </table>
    </div>


{% endblock %}