{% extends "layout.html" %}
{% set active_page = "" %}

{% block content %}
  <h2>Initial Configuration</h2>
  <p>This appears to be the first time I have been run. I am going to create a database but first you need to let me
      know which PGP key you want to use as your identity. Below you will find a list of one or more PGP keys, please
      select one. If no keys are displayed then you need to create a PGP key before you can continue.</p>

  <p>
    <table >
        <tr><td></td><td></td></tr>
        <tr><td><b> Existing Users: </b>If you already have application data saved to a non-default location then select the file location here and hit
      the load button</td><td width="20%"><label class="btn" for="modal-one">Load Identity</label></td>
    </table>



<!-- Modal One -->
<div class="modal">
  <input class="modal-open" id="modal-one" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-one"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Load Existing Identity</h2>
        <label class="btn-close" for="modal-one" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('loadidentity') }}">
        <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
            <label>Location : </label><input type="text" class="inputs" placeholder="Enter the directory path to your existing identity data" required name="app_dir" size="40"/>
      </div>
      <div class="modal-footer">
        <button type="submit" class = "btn">Load Identity</button></form>
      </div>
    </div>
  </div>
</div>



   <h1>Configure Identity</h1>
    <form method="post" action="{{ url_for('createidentity') }}">
    <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <table cellpadding="10">
            <tr><td></td><td></td><td></td></tr>
            <tr><td><label>PGP Key: </label></td><td colspan="2"><div class = "select_style"><select name="keyid">
            {% for key in key_list %}
                <option value="{{ key.keyid }}">({{ key.keyid}}) &nbsp; {{ key.uids[0] }}</option>
            {% endfor %}
            </select></div></td></tr>
            <tr><td><label>Display Name :</label></td> <td colspan="2"><input type="text" name="displayname" size="44" class="inputs" placeholder="Display Name" required></td></tr>
            <tr><td><label>PGP Passphrase:</label></td> <td><input type="password" name="pgppassphrase" size="44" class="inputs" placeholder="PGP Passphrase (will not be saved)"  required></td></tr>
            <tr><td><label></label></td> <td><input type="checkbox" name="offline" value="yes">Publish my identity to a directory</td></tr>
            <tr><td><label>Tor Proxy Address:</label></td> <td><input type="text" name="proxy" size="44" class="inputs" placeholder="Tor SOCKS proxy address" required value="127.0.0.1"></td><td><input type="checkbox" name="enable_socks" value="True" checked>Enable Tor SOCKS</td></tr>
            <tr><td><label>Tor Proxy Port:</label></td> <td><input type="text" name="proxy_port" size="44" class="inputs" placeholder="Tor SOCKS proxy port" required value="9150"></td></tr>
            <tr><td><label>i2p Proxy Address:</label></td> <td><input type="text" name="i2p_proxy" size="44" class="inputs" placeholder="i2p SOCKS proxy address" value=""></td><td><input type="checkbox" name="i2p_enable_socks" value="True" >Enable i2p SOCKS</td></tr>
            <tr><td><label>i2p Proxy Port:</label></td> <td><input type="text" name="i2p_proxy_port" size="44" class="inputs" placeholder="i2p SOCKS proxy port" value=""></td></tr>
            <tr><td><div style="btn"><button type="submit" class = "btn">Create Identity</button></div></td></tr>
        </table></form>

{% endblock %}

