{% extends "layout.html" %}
{% set active_page = "Trade" %}

{% block content %}

<h4>Create New Listing</h4>
    <div class="datagrid">
    <table width="100%" cellpadding="10">
        <form method="post" action="{{ url_for('new_listing') }}" enctype="multipart/form-data">
        <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <tr>
          <td width="100px"><b>Category</b></td>
          <td colspan="2"><div class = "select_style"><select name="category">
            {% if categories %} {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
            {% else %}
                <option value="Not Specified">Not Specified</option>
            {% endif %}
            </select></div>
        </tr>

        <tr>
          <td width="100px"><b>Title</b></td>
          <td colspan="2"><input type="text" class="inputs full-width" name="title" placeholder="Type the title of the listing here" required></td>
        </tr>
        <tr>
            <td width="100px"><b>Description</b></td>
            <td colspan="2"><div id="container">
                <div class="twrap"><textarea class="inputs" name="description" cols="80" rows="10" placeholder="Type the item description here"></textarea></div>
            </div></td>
        </tr>
        <tr>
          <td><b>Price</b></td>
          <td><input type="text" class="inputs full-width" name="price" placeholder="Type the base price here" required></td>
          <td><div class = "select_style"><select name="currency">
            {% for currency in currencies %}
                <option value="{{ currency.code }}">&nbsp; {{ currency.name }} ({{ currency.code }})</option>
            {% endfor %}
            </select></div></td>
        </tr>
        <tr>
          <td width="100px"><b>Quantity</b></td>
          <td><input type="text" class="inputs full-width" name="quantity" placeholder="Quantity"></td>
        </tr>
        <tr>
          <td width="100px"><b>Max. Order Quantity</b></td>
          <td><input type="text" class="inputs full-width" name="max_order" placeholder="Maximum Order Quantity"></td>
        </tr>
        <tr>
            <td><label><b>Image</b></label></td> <td><input type="file" name="listing_image"  class="inputs-file" style="float:left;vertical-align:middle" placeholder="Optionally select an image for this item"></td>
        </tr>
        <tr><td colspan="3">
            <div style="btn"><a href="{{ url_for('listings') }}"><input type="button" style="float:right" class = "btn" value="Cancel"></a></div>
            <div style="btn"><button type="submit" style="float:right" class = "btn">Create Listing</button></div></td></tr>
        </form>
    </table>
    </div>

{% endblock %}




