{% extends "layout.html" %}
{% set active_page = "Trade" %}

{% block content %}

<h4>Create New Listing</h4>
    <div class="datagrid">
    <table width="100%" cellpadding="10">
        <form method="post" action="{{ url_for('new_listing') }}">
        <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <tr>
          <td width="100px"><b>Title</b></td>
          <td colspan="2"><input type="text" class="inputs full-width" name="title" placeholder="Type the title of the listing here" required></td>
        </tr>
        <tr>
            <td width="100px"><b>Description</b></td>
            <td colspan="2"><div id="container">
                <div class="twrap"><textarea class="inputs" name="description" cols="80" rows="10" placeholder="Type the item description here"></textarea></div>
            </div></td>
        </tr>
        <tr>
            <td><label><b>Image</b></label></td> <td><input type="file" name="avatar_image"  class="inputs-file" style="float:left;vertical-align:middle" placeholder="Optionally select an image for this item"></td>
        </tr>
        <tr><td colspan="3">
            <div style="btn"><a href="{{ url_for('listings') }}"><input type="button" style="float:right" class = "btn" value="Cancel"></a></div>
            <div style="btn"><button type="submit" style="float:right" class = "btn">Create Listing</button></div></td></tr>
        </form>
    </table>
    </div>

{% endblock %}




