{% extends "layout.html" %}
{% set active_page = "Trade" %}

{% block content %}


<h4>Update Listing</h4>

    <div class="datagrid">
    <table width="100%" cellpadding="10">
        <form method="post" action="{{ url_for('edit_listing',id=listing.id) }}" enctype="multipart/form-data">
        <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <tr>
          <td width="150px"><b>Category</b></td>
          <td colspan="3"><div class = "select_style"><select name="category">
             {% if categories %} {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
            {% else %}
                <option value="Not Specified">{{listing.category}}</option>
            {% endif %}
            </select>
            <input type="checkbox" style="margin-left:30px" name="is_public" value="True" {% if listing.public == 1 %}checked{% endif %}><b> Display in public listings</b></div></td>
        </tr>

        <tr>
          <td><b>Title</b></td>
          <td colspan="3"><input type="text" class="inputs full-width" name="title" placeholder="Type the title of the listing here" required value="{{listing.title}}"></td>
        </tr>
        <tr>
            <td><b>Description</b></td>
            <td colspan="3"><div id="container">
                <div class="twrap"><textarea class="inputs" name="description" cols="80" rows="10" placeholder="Type the item description here">{{listing.description}}</textarea></div>
            </div></td>
        </tr>
        <tr>

          <td><b>Price</b></td>
          <td><input type="text" class="inputs" name="price" placeholder="Type the base price here" required value="{{listing.price}}"></td>
          <td>    <div class = "select_style"><select name="currency" style="width:230px">
            {% for currency in currencies %}
                <option value="{{ currency.code }}" {% if listing.currency_code == currency.code %}selected{% endif %}>&nbsp; {{ currency.name }} ({{ currency.code }})</option>
            {% endfor %}
            </select></div></td>
            <td><label class="btn" for="modal-one">Add shipping</label></td>
        </tr>
        <tr><td><label><b>Order Types</b></label></td> <td><input type="checkbox" name="order_direct" value="True" checked><b>Allow Direct Transactions</b></td><td><input type="checkbox" name="order_escrow" value="True" checked><b>Allow Escrow Transactions</b></td></tr>
        <tr>
            <td><b>Quantity</b></td>
            <td><input type="text" class="inputs full-width" name="quantity" placeholder="Quantity available" value="{{listing.qty_available}}"></td>
            <td colspan="2"><b>Max. Items/Order</b><input type="text" class="inputs" style="margin-left:20px" name="max_order" placeholder="Maximum items per order" value="{{listing.order_max_qty}}"></td>
        </tr>
        <tr>
            <td><label><b>Image</b></label></td> <td colspan="2"><img width="128" height="128" alt="{{listing.title}}" style="floats:left;vertical-align:top" src={% if listing.image_base64 %}"data:image/png;base64,{{listing.image_base64}}"{% else %}"/static/img/none.png"{% endif %} /><br><br><input type="file" name="listing_image"  class="inputs-file" style="float:left;vertical-align:middle" placeholder="Optionally select an image for this item"></td>
        </tr>

        <tr><td colspan="4">
            <div style="btn"><a href="{{ url_for('listings') }}"><input type="button" style="float:right" class = "btn" value="Cancel"></a></div>
            <div style="btn"><button type="submit" style="float:right" class = "btn">Update Listing</button></div></td></tr>

    </table>
    </div>
<br><br>

<!-- Modal One -->
<div class="modal">
  <input class="modal-open" id="modal-one" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-one"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Configure shipping options</h2>
        <label class="btn-close" for="modal-one" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
        <div class="datagrid">
        <table cellpadding="5">
       <tr>
          <th>Shipping Type</th>
          <th width = "100px">Cost (+/-)</th>
          <th width="50px">Enabled</th>
        </tr>
        <tr>
          {% if (shipping_options|length) >0 %}
          <td><input type="text"  class="inputs" name="shipping_1" style="width:290px" placeholder="e.g. Express" value="{{shipping_options['1'][0]}}"></td>
          <td><input type="text" class="inputs" style="margin-left:20px;width:80px" name="shipping_cost_1" placeholder="Cost" value="{{shipping_options['1'][1]}}"></td>
          <td align="middle"><input type="checkbox" name="shipping_enabled_1" value="True" checked></td>
          {%else%}
          <td><input type="text"  class="inputs" name="shipping_1" style="width:290px" placeholder="e.g. Express" value=""></td>
          <td><input type="text" class="inputs" style="margin-left:20px;width:80px" name="shipping_cost_1" placeholder="Cost"></td>
          <td align="middle"><input type="checkbox" name="shipping_enabled_1" value="True"></td>
          {%endif%}
        </tr>
        <tr>
          {% if (shipping_options|length) >1 %}
          <td><input type="text"  class="inputs" name="shipping_2" style="width:290px" placeholder="e.g. Express" value="{{shipping_options['2'][0]}}"></td>
          <td><input type="text" class="inputs" style="margin-left:20px;width:80px" name="shipping_cost_2" placeholder="Cost" value="{{shipping_options['2'][1]}}"></td>
          <td align="middle"><input type="checkbox" name="shipping_enabled_2" value="True" checked></td>
          {%else%}
          <td><input type="text"  class="inputs" name="shipping_2" style="width:290px" placeholder="e.g. Express" value=""></td>
          <td><input type="text" class="inputs" style="margin-left:20px;width:80px" name="shipping_cost_2" placeholder="Cost"></td>
          <td align="middle"><input type="checkbox" name="shipping_enabled_2" value="True"></td>
          {%endif%}
        </tr>
        <tr>
          {% if (shipping_options|length) >2 %}
          <td><input type="text"  class="inputs" name="shipping_1" style="width:290px" placeholder="e.g. Express" value="{{shipping_options['3'][0]}}"></td>
          <td><input type="text" class="inputs" style="margin-left:20px;width:80px" name="shipping_cost_3" placeholder="Cost" value="{{shipping_options['3'][1]}}"></td>
          <td align="middle"><input type="checkbox" name="shipping_enabled_3" value="True" checked></td>
          {%else%}
          <td><input type="text"  class="inputs" name="shipping_3" style="width:290px" placeholder="e.g. Express" value=""></td>
          <td><input type="text" class="inputs" style="margin-left:20px;width:80px" name="shipping_cost_3" placeholder="Cost"></td>
          <td align="middle"><input type="checkbox" name="shipping_enabled_3" value="True"></td>
          {%endif%}
        </tr>
        <tr>
          {% if (shipping_options|length) >3 %}
          <td><input type="text"  class="inputs" name="shipping_4" style="width:290px" placeholder="e.g. Express" value="{{shipping_options['4'][0]}}"></td>
          <td><input type="text" class="inputs" style="margin-left:20px;width:80px" name="shipping_cost_4" placeholder="Cost" value="{{shipping_options['4'][1]}}"></td>
          <td align="middle"><input type="checkbox" name="shipping_enabled_4" value="True" checked></td>
          {%else%}
          <td><input type="text"  class="inputs" name="shipping_4" style="width:290px" placeholder="e.g. Express" value=""></td>
          <td><input type="text" class="inputs" style="margin-left:20px;width:80px" name="shipping_cost_4" placeholder="Cost"></td>
          <td align="middle"><input type="checkbox" name="shipping_enabled_4" value="True"></td>
          {%endif%}
        </tr>
        </table>

      </div>
      <div class="modal-footer">
        <label class="btn" for="modal-one">OK</label>
      </div>
      </div>
    </div>
  </div>
</div>
</form>


{% endblock %}




