{% extends "layout.html" %}
{% set active_page = "Listings" %}

{% block content %}
  <h2>Listings</h2>

    <div class="datagrid">

    <table cellpadding="10">
        <tr>
            <th></th>
        <th width="400px" align="left"><strong>Title</strong></th>
        <th width="100px"><strong>Price</strong></th>
        <th width="80px"><strong>Quantity</strong></th>
        <th width="200px"><strong>Actions</strong></th>
        </tr>
        {% for listing in listings %}
        <tr>
        <td style="width:66px"><img width="64" height="64" alt="{{listing.item}}" src={% if listing.image %}"data:image/png;base64,{{listing.image}}"{% else %}"/static/img/none.png"{% endif %} /></td>
        <td>{{listing.item}}</td>
        <td>{{listing.unit_price}} {{listing.currency}}</td>
        <td>{{listing.qty}}</td>
        </tr>
        {% endfor %}
        <tr>
        <td align="left">
        {% if listings.previous_page %}
            <a href="/listings/{{listings.previous_page}}"><b>&lt;Previous</b></a>
        {% endif %}
        </td>
        <td colspan="2"></td></td>
        <td align="right">
        {% if listings.next_page %}
            <a href="/listings/{{listings.next_page}}"><b>Next&gt;</b></a>
        {% endif %}
        </td>
        </tr>
    </table>
    </div>


{% endblock %}