<!DOCTYPE html>
<html>
  <head>
    <title>Axis Mundi</title>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
{% set active_page = "" %}
<header>
  <div class="container">
    <h1 class="logo">{{ g.connection_status }}</h1>

    <strong><nav id="primary_nav_wrap" class="primary_nav_menu">
      <ul>
      </ul>
    </nav></strong>
  </div>


</header>
<div align="center">
    {% with messages = get_flashed_messages(with_categories=true, category_filter=['error']) %}
      {% if messages %}
        <ul class="flashes-error flashes">
        {% for category, message in messages %}
          <li style="float:left">{{ message }}</li><br>
        {% endfor %}
        </ul>
       {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(with_categories=true, category_filter=['message']) %}
      {% if messages %}
        <ul class="flashes-message flashes">
        {% for category, message in messages %}
          <li style="float:left">{{ message }}</li><br>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>
    <div class="container" style="top:50px;position:relative;z-index:1;">
      {% block content %}
          <h2>Axis Mundi Login</h2>
  <div class="round_box" style="width:90%" align="center">
  <p>Please select a PGP key and supply the correct passphrase</p>
    <form method="post" action="{{ url_for('login') }}" autocomplete="Off">
    <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <table cellpadding="10">

            <tr><td><label>PGP Key: </label></td><td><div class = "select_style"><select name="keyid" style="width:600px">
            {% for key in key_list %}
                <option value="{{ key.keyid }}">({{ key.keyid}}) &nbsp; {{ key.uids[0] }}</option>
            {% endfor %}
            </select></div></td></tr>
            <tr><td><label>PGP Passphrase:</label></td> <td><input type="password" name="pgppassphrase" size="44" class="inputs" placeholder="PGP Passphrase (will not be saved)"  required><div style="float:right"><input type="checkbox" name="offline" value="yes">Work Offline</div></td></tr>

            <tr><td></td><td><button type="submit" class = "btnblu" style="float:right">Login to Axis Mundi</button></td></tr>
        </table></form>

      {% endblock %}
    </div>
</div>
  </body>
</html>





