{% extends "layout.html" %}
{% set active_page = "Messages" %}

{% block content %}
  <h2>Message Inbox</h2>

    <div class="datagrid">
    <table cellpadding="10" class="stripetable">
        <tr>
        <th width="250px"><strong>From</strong></th>
        <th width="450px"><strong>Subject</strong></th>
        <th width="200px"><strong>Date Received</strong></th>
<!--        <th width="110px"><strong>Actions</strong></th>    -->
        </tr>
        {% for o in inbox_messages %}
        <tr>
        <td width="250px">
            <div style="position:relative">
             <a class ="in_cell_link" href="/profile/{{ o.sender_key }}" style="text-decoration:underline"><img src="data:image/png;base64,{{o.sender_key|key_to_identicon}}"> {{ o.sender_key|display_name }}</a>
             <a class ="cell_link" href="/messages/view/{{ o.id }}"></a>
            </div>
        </td>
        <td width="450px">
            <div style="position:relative">
            <a class ="cell_link" href="/messages/view/{{ o.id }}"></a> {{ o.subject }}
            </div>
        </td>
        <td width="200px">
            <div style="position:relative">
            <a class ="cell_link" href="/messages/view/{{ o.id }}"></a>{{ o.message_date }}
            </div>
        </td>
<!--        <td width="110px">
             <a href="{{ url_for('reply_message', id = o.id) }}">Reply</a>  -
             <a href="{{ url_for('delete_message', id = o.id) }}">Delete</a>
        </td>
-->

        </tr>
        {% endfor %}
        <tr>
        <td align="left">
        {% if inbox_messages.previous_page %}
            <a href="/messages/{{inbox_messages.previous_page}}"><b>&lt;Previous</b></a>
        {% endif %}
        </td>
        <td colspan="1"></td>
        <td align="right">
        {% if inbox_messages.next_page %}
            <a href="/messages/{{inbox_messages.next_page}}"><b>Next&gt;</b></a>
        {% endif %}
        </td>
        </tr>
    </table>
    </div>


{% endblock %}