{% extends "layout.html" %}
{% set active_page = "Messages" %}

{% block content %}

<datalist id="Contacts">
    {% for contact in contacts %}
  <option value="{{ contact.contact_name }} ({{contact.contact_key}})">
    {% endfor %}
</datalist>
<h4>Compose New Message</h4>
    <div class="datagrid">
    <table width="100%" cellpadding="10">
        <form method="post" action="{{ url_for('new_message') }}">
        <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <tr>
          <td width="100px"><b>To</b></td>
          <td><input type="text" class="inputs" autocomplete="Off" name="recipient" list="Contacts" size="55" placeholder="Type in the name of a contact or a PGP key ID" required value="{%if recipient_key %} {{recipient_key|display_name}} ({{recipient_key}}){%endif%}"></td>
          <td style="float:right cellpadding:5px"><input type="checkbox"  name="sign-message" value="sign-message" checked>Sign My Message </td>
        </tr>
        <tr>
          <td width="100px"><b>Subject</b></td>
          <td colspan="2"><input type="text" class="inputs full-width" name="subject" placeholder="Type the message subject here" required></td>
        </tr>
        <tr>
            <td colspan="3"><div id="container">
                <div class="twrap"><textarea class="inputs" name="body" cols="80" rows="10" placeholder="Type your message here"></textarea></div>
            </div></td>
        </tr>
        <tr><td colspan="3">
            <div style="btn"><a href="{{ url_for('messages') }}"><input type="button" style="float:right" class = "btn" value="Cancel"></a></div>
            <div style="btn"><button type="submit" style="float:right" class = "btn">Send Message</button></div></td></tr>
        </form>
    </table>
    </div>

{% endblock %}




