{% extends "layout.html" %}
{% set active_page = "Listings" %}

{% block content %}
  <h2>My Listings</h2>

    <div class="datagrid">
               <a class="btn" href="{{ url_for('new_listing') }}">New Listing</a>&nbsp;
               <a class="btn" href="{{ url_for('publish_listings') }}">Re-publish</a>&nbsp;
               <a class="btn" href="{{ url_for('export_listings')}}" hidden="Yes">Export listings</a>
    <br>
    <br>

    <table cellpadding="10" class="stripetable">
        <tr>
            <th></th>
        <th width="400px" align="left"><strong>Title</strong></th>
        <th width="100px"><strong>Price</strong></th>
        <th width="80px"><strong>Quantity</strong></th>
        <th width="80px"><strong>Published</strong></th>
        <th width="200px"></th>
        </tr>
        {% for listing in listings %}
        <tr onclick="location.href='{{ url_for('edit_listing', id = listing.id) }}'">
        <td style="width:66px">
            <img width="64" height="64" alt="{{listing.title}}" src={% if listing.image_base64 %}"data:image/png;base64,{{listing.image_base64}}"{% else %}"/static/img/none.png"{% endif %} />
        </td>
        <td>
            {{listing.title}}
        </td>
        <td>
            {{listing.price}} {{listing.currency_code}}
        </td>
        <td>
            {{listing.qty_available}}
        </td>
        <td>
            {% if listing.public == True %}Yes{% else %}No{% endif %}
        </td>
        <td>
             <a class="btn" href="{{ url_for('edit_listing', id = listing.id) }}"> Edit </a>  &nbsp;
             <a class="btn" href="{{ url_for('delete_listing', id = listing.id) }}">Delete</a>
        </td>
        </tr>
        {% endfor %}
        <tr>
        <td align="left">
        {% if listings.previous_page %}
            <a href="/listings/{{listings.previous_page}}"><b>&lt;Previous</b></a>
        {% endif %}
        </td>
        <td colspan="4"></td></td>
        <td align="right">
        {% if listings.next_page %}
            <a href="/listings/{{listings.next_page}}"><b>Next&gt;</b></a>
        {% endif %}
        </td>
        </tr>
    </table>
    </div>


{% endblock %}