{%if looking_glass %}
    {% extends "looking_glass/layout.html" %}
{%else%}
    {% extends "layout.html" %}
{%endif%}
{% set active_page = "Trade" %}

{% block content %}
  <h2>Order has been placed with <img src="data:image/png;base64,{{seller_key|key_to_identicon}}"> {{seller_key|display_name}}</h2>
  {% if order %}
    <div class="datagrid">

            <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
            <p>Your order has been placed with <img src="data:image/png;base64,{{seller_key|key_to_identicon}}"> {{seller_key|display_name}}. Please make the following Bitcoin payment(s) now:</p>
              {% for item in order %}
                  <div class="round_box">
                    <p><b><a href="/orders/view/{{item.id}}">Order ID: {{item.orderid}}</a> &nbsp;&nbsp;&nbsp;   <a href="/orders/view/{{item.id}}">{{item.quantity}} x {{ item.title }}</a></b></p>
                    <p><h5>Please pay {{item['line_total_btc_price']}} BTC to address {{item['payment_btc_address']}}</h5></p>
                  </div>
            {% endfor %}

        </div>
  {% else %}
        <h3><center>There doesn't appear to be any items in your order!</center></h3>
  {% endif %}

{% endblock %}