{% extends "layout.html" %}
{% set active_page = "Trade" %}

{% block content %}
  <h2>Order Placed With {{seller_key|display_name}} ({{seller_key}})</h2>
  {% if shopping_cart %}
    <div class="datagrid">

        <div class="round_box">
        <table cellpadding="5">
        <form method="post" action="{{ url_for('cart') }}">
            <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
            <tr><td colspan="3"><p style="font-size:20px"><b>Seller: {{user}}</b></p></td><td colspan="2">
                <button type="submit" style="float:right" class = "btn" name ="action" value="remove">Cancel Order</button>
                <button type="submit" style="float:right" class = "btn" name ="action" value="create_order">Place Order</button>
                </td></tr>
            <tr>
            <th width="100px" align="left"><strong></strong></th>
            <th width="300px" align="left"><strong>Item</strong></th>
            <th width="50px"><strong>Qty</strong></th>
            <th width="250px"><strong>Shipping</strong></th>
            <th width="200px"><strong>Price</strong></th>
            </tr>

            {% for item in shopping_cart[user]%}
                {% set item_dict = shopping_cart[user][item] %}
                {% set shipping_options = item_dict.item['shipping_options'] %}
                <tr>
                <td colspan="2">{{ item_dict.item['item'] }}</td>
                <td><label>{{ item_dict['quantity'] }}</label></td>
                <td>
                {% for shipping_option in shipping_options %}
                {%   set shipping_option_dict = shipping_options[shipping_option] %}
                     {% if item_dict.shipping == shipping_option %}{{ shipping_option_dict[0] }}{%endif%}
            {% endfor %}
           </div></td><td style="text-align: center">{{ item_dict.total_price }} {{ item_dict.item['currency'] }} ({{item_dict.total_btc_price}} BTC)</td></tr>
            <input name="pgpkey_id" type=hidden value="{{ user }}">
            <input name="listing_id" type=hidden value="{{ item_dict.item['id'] }}">
        </table>
        </div>
        <br>

        <table cellpadding="5">
        <tr>
            <td ><label><b>Delivery Address</b></label></td>
            <td ><div id="container">
            <div class="twrap"><textarea class="inputs" name="address" style ="height: auto;" cols="80" rows="8" placeholder="Type the delivery address here EXACTLY how you want it to appear on an address label" required></textarea></div>
        </div></td>
        </tr>
        <tr>
            <td ><label><b>Note to Seller</b></label></td>
            <td ><div id="container">
            <div class="twrap"><textarea class="inputs" name="note" style ="height: auto;" rows="3" placeholder="Type any notes for the seller here."></textarea></div>
        </div></td>
        </tr>
        </table>

        <br>
    {% endfor %}

    </form>
    </div>
  {% else %}
        <h3><center>Your shopping cart is empty</center></h3>
  {% endif %}

{% endblock %}