{% extends "layout.html" %}
{% set active_page = "Orders" %}

  
{% block content %}
  <h2>Orders</h2>
    <div class="datagrid">
    <table cellpadding="10" class="stripetable">
        <tr>
        <th width="100px"><strong>Date Created</strong></th>
        <th width="350px"><strong>Item</strong></th>
        {% if view == 'buying' %}
            <th width="200px"><strong>Seller</strong></th>
        {% elif view == 'selling' %}
            <th width="200px"><strong>Buyer</strong></th>
        {% endif %}
        <th width="100px"><strong>Status</strong></th>
        <th width="100px"><strong>Payment</strong></th>
        </tr>
        {% for o in orders %}
        <tr onclick="location.href='/orders/view/{{ o.id }}'">
        <td >{{ o.order_date.strftime('%Y-%m-%d') }}</td>
        <td >{{ o.title }}</td>
        <td ><a href="/profile/{{ o.seller_key}}"><img src="data:image/png;base64,{{o.seller_key|key_to_identicon}}"> {{ o.seller_key|display_name }}</a></td>
        <td >{{ o.order_status }}</td>
        <td>{{ o.payment_status }}</td>
        </tr>
        {% endfor %}
        <tr>
        <td align="left">
        {% if orders.previous_page %}
            <a href="/orders/{{view}}/{{orders.previous_page}}"><b>&lt;Previous</b></a>
        {% endif %}
        </td>
        <td colspan="3"></td>
        <td align="right">
        {% if orders.next_page %}
            <a href="/orders/{{view}}/{{orders.next_page}}"><b>Next&gt;</b></a>
        {% endif %}
        </td>
        </tr>
    </table>
    </div>

{% endblock %}
