{% extends "layout.html" %}
{% set active_page = "Orders" %}

  
{% block content %}
  <h2>Orders</h2>
    <div class="datagrid">
    <table cellpadding="10" class="stripetable">
        <tr>
        <th width="100px"><strong>Date Created</strong></th>
        <th width="350px"><strong>Item</strong></th>
        {% if view == 'buying' %}
            <th width="200px"><strong>Seller</strong></th>
        {% elif view == 'selling' %}
            <th width="200px"><strong>Buyer</strong></th>
        {% endif %}
        <th width="100px"><strong>Status</strong></th>
        <th width="100px"><strong>Payment</strong></th>
        </tr>
        {% for o in orders %}
        <tr>
        <td >
            <div style="position:relative">
            <a class = "cell_link" href="/orders/view/{{ o.id }}"></a>{{ o.order_date.strftime('%Y-%m-%d') }}
            </div>
        </td>
        <td >
            <div style="position:relative">
            <a class = "cell_link" href="/orders/view/{{ o.id }}"></a>{{ o.title }}
            </div>
        </td>
        <td >
            <div style="position:relative">
            {% if view == 'buying' %}
                <a class = "in_cell_link" href="/profile/{{ o.seller_key}}"><img src="data:image/png;base64,{{o.seller_key|key_to_identicon}}"> {{ o.seller_key|display_name }}</a>
            {% elif view == 'selling' %}
               <a class = "in_cell_link" href="/profile/{{ o.buyer_key}}"><img src="data:image/png;base64,{{o.buyer_key|key_to_identicon}}"> {{ o.buyer_key|display_name }}</a>
            {% endif %}

            <a class = "cell_link" href="/orders/view/{{ o.id }}"></a>
            </div>
        </td>
        <td >
            <div style="position:relative">
            <a class = "cell_link" href="/orders/view/{{ o.id }}"></a>{{ o.order_status }}
            </div>
        </td>
        <td>
            <div style="position:relative">
            <a class = "cell_link" href="/orders/view/{{ o.id }}"></a>{{ o.payment_status }}
            </div>
        </td>







        </tr>
        {% endfor %}
        <tr>
        <td align="left">
        {% if orders.previous_page %}
            <a href="/orders/{{view}}/{{orders.previous_page}}"><b>&lt;Previous</b></a>
        {% endif %}
        </td>
        <td colspan="3"></td>
        <td align="right">
        {% if orders.next_page %}
            <a href="/orders/{{view}}/{{orders.next_page}}"><b>Next&gt;</b></a>
        {% endif %}
        </td>
        </tr>
    </table>
    </div>

{% endblock %}
