{% extends "layout.html" %}
{% set active_page = "Orders" %}

  
{% block content %}
  <h2>View Order</h2>
    <div class="datagrid">
   <p>{{order.title}}</p>
    <p>{{ order.seller_key|display_name }}</p>
    <p>{{ order.orderid}}   </p>
    <p>{{ order.order_date.strftime('%Y-%m-%d') }}</p>

    <table cellpadding="5">
        <tr>
        </tr>
    </table>
    </div>

        <table cellpadding="10">
            <tr><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td width="300" rowspan="6" ><img width="128" height="128" alt="{{order.title}}" src={% if order.image_base64 %}"data:image/png;base64,{{order.image_base64}}"{% else %}"/static/img/none.png"{% endif %} /></td>
            <tr><td width="200"><b>Price</b></td><td><b>{{order.price}} {{order.currency_code}} (x.xx BTC)</b></td><td><form method="post" action="{{ url_for('cart') }}">
                <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="pgpkey_id" value="{{pgp_key}}"><input type="hidden" name="listing_id" value="{{order.id}}"><div style="btn"><button type="submit" class = "btn">Add to Cart</button></div></form></td></tr>
            <tr><td width="200"><B>Seller</b></td><td><a href="/profile/{{ order.seller_key}}">{{ order.seller_key|display_name }}</a></td><td><a class="btn" href="{{ url_for('new_message')}}{{order.seller_key}}">Send Message</a></td></tr>
            <tr><td width="200"><B>Ships From</b></td><td>Not Specified</td></tr>
            <tr><td width="200"><B>Ships To</b></td><td>Worldwide</td></tr>

            <tr>
               <td colspan="4" style="white-space: pre-wrap;max-width:960px;word-wrap: break-word;">{{order.description}}</td>
            </tr>
            <tr><td width="200"><B>Bitcoin Payment Address</b></td><td colspan="3">{{order.payment_btc_address}}</td></tr>
        </table>
{% endblock %}
