{% extends "layout.html" %}
{% set active_page = "Setup" %}

{% block content %}
  <h2>Configuration - Network</h2>
  <p>You may configure various options here. To ensure new settings take effect, please log off and log back in.</p>
 <!--   <h1>Configure</h1> -->
    <form method="post" action="{{ url_for('setup') }}/network">
    <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <table cellpadding="10">
            <tr><td><label>Proxy Address:</label></td> <td><input type="text" name="proxy" size="44" class="inputs" placeholder="SOCKS proxy address" required value="{{ proxy[0] }}"></td></tr>
            <tr><td><label>Proxy Port:</label></td> <td><input type="text" name="proxy_port" size="44" class="inputs" placeholder="SOCKS proxy port" required value="{{ proxy_port[0] }}"></td></tr>
            <tr><td><label>Entry Points :</label></td> <td><textarea name="hubnodes" cols="44" rows="4" class="inputs" placeholder="Entry Points" required>{% for node in hubnodes %}{{ node[0] }}&#013;&#010;{% endfor %}</textarea></td></tr>
            <tr><td><div style="btn"><button type="submit" class = "btn">Update</button></div></td></tr>
        </table></form>

{% endblock %}