<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
</head>
<body>


        <div class="container" style="top:50px;position:relative;z-index:1;">
<table cellpadding ="10">

    <tr><td>111</td><td>111</td></tr>
<tr>
    <td>col1</td>
<td align="center">
            <div style="position:relative">
                 <a class="in_cell_link" href="/Msh">Msh</a> -
                 <a class="in_cell_link" href="/tan">tan</a>
                 <a class="cell_link" href="/Pro"></a>
            </div>
    </td>

    </tr>

</table>
                                                 </div>


</body>
</html>