{%if looking_glass %}
    {% extends "looking_glass/layout.html" %}
{%else%}
    {% extends "layout.html" %}
{%endif%}
{% set active_page = "home" %}

{% block content %}
  <div class="jumbo">
    <h2>Axis Mundi Looking Glass<h2>
    <h3>You are using an Axis Mundi Looking Glass server</h3>
  </div>
  <br><p align="center" style="font-size:130%;">This web interface allows you to browse and search all items and users than exist within Axis Mundi. </p>
  <br><p align="center" style="font-size:130%;">There is also support for making direct orders and payments via Bitcoin although you are advised not to risk any actual coin right now until additional testing has been performed.</p>
  <br><p align="center" style="font-size:130%;">If you want to place a profile and listings into Axis Mundi then you are most welcome. You will need to run an Axis Mundi client for this (running within Tails OS is advised).</p>
  <br><p align="center" style="font-size:130%;">Visit the main discussion thread <a href="""http://thehub7gqe43miyc.onion/index.php?topic=7950">on The Hub </a>or visit the <a href="https://reddit.com/r/axis_mundi">Axis Mundi Subreddit</a>
{% endblock %}